.image {
  width: 300px;
  height: 214px;
}

.ItemWrapper {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.size {
  display: flex;
  justify-content: center;
}

.itemTitle {
  margin: 10px 0;
  padding: 10px;
}

.rating {
  display: flex;
  justify-content: center;
}

.options {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px 0 20px 0;
  border: 1px solid #59a7d8;
}

.sizeFont {
  font-weight: 400;
}

.buy {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
}

.price p {
  margin-right: 20px;
}

.btn {
  display: flex;
}

.btn p {
  margin-right: 20px;
}
